on:
  schedule:
    - cron: "*/3 * * * *"
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Download interface file
        run: |
          curl -H "Cache-Control: no-cache" -o jjoo.json https://ui.990093.xyz/files/jjoo.json

      - name: Auto commit and push
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: 自动同步接口文件
