name: 同步网盘文件

on:
  workflow_dispatch:         # 手动触发
  schedule:
    - cron: "*/3 * * * *"    # 每3分钟运行一次

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: 检出仓库代码
        uses: actions/checkout@v3

      - name: 下载 jjss.json 文件
        run: |
          curl -H "Cache-Control: no-cache" -o jjss.json https://ui.990093.xyz/files/jjss.json

      - name: 自动提交并推送
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: 自动同步 jjss.json 文件
